#clients {
	padding-top: 140px;
	padding-bottom: 140px;
	background: #012f34;
	background-image: url('../../../img/about/clients-bg.svg');
	background-repeat: no-repeat;
	background-position: left top;
}

.clients__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 64px;
}

.clients__list {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 990px) {
	#clients {
		background-image: url('../../../img/about/clients-bg-small.svg');
	}

	.clients__list {
		flex-direction: column;
	}

	.clients__item{
		margin-left: auto;
		margin-right: auto;
	}

	.clients__item + .clients__item {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 375px){
	#clients {
		background-image: url('../../../img/about/clients-bg-tiny.svg');
	}
}