#results {
	padding-top: 140px;
	padding-bottom: 140px;
	background-image: url('../../img/results-one.svg'),
		url('../../img/results-two.svg');
	background-position: top left, bottom right;
	background-repeat: no-repeat;
}

.results__list {
	display: flex;
	justify-content: space-between;
}

.results__item {
	text-align: center;
	position: relative;
	&::before {
		content: '';
		width: 67px;
		height: 56px;
		position: absolute;
		display: inline-block;
		background-repeat: no-repeat;
		background-image: url('../../img/quote.svg');
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
		top: -35px;
	}
}

.results__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	color: #ffffff;
	max-width: 932px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 92px;
	span {
		color: #79c8c7;
	}
}

.results__text {
	max-width: 350px;
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
	margin-bottom: 24px;
}

.results__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	color: #79c8c7;
	margin-bottom: 2px;
}

.results__who {
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
	color: #ffffff;
	margin-bottom: 32px;
}

@media only screen and (max-width: 1090px) {
	.results__list {
		flex-direction: column;
	}

	.results__title {
		max-width: 462px;
		font-size: 32px;
		line-height: 32px;
		text-align: center;
	}

	.results__text {
		margin-left: auto;
		margin-right: auto;
		max-width: 573px;
	}

	.results__item {
		&:not(:last-child) {
			margin-bottom: 84px;
		}
	}
}
